
.container-pc{
    
    display:flex;
    margin-left: 50px;
    margin-bottom: 20px;
    justify-content:center;
    align-items: center;
    max-width: 1700px;
    flex-wrap: wrap;
    margin: 0 auto;

}



.navigation{
    position: absolute;
}

.container-pc .card-pc{
    position: relative;
    min-width: 320px;
    height: 350px;
    background-color: white;
    box-shadow: inset 5px 5px 5px rgba(255, 255, 255, 0.2),
                          inset -5px -5px 15px rgba(255, 255, 255, 0.048),
                          5px 5px 15px rgba(0,0,0,0.3),
                          -5px -5px 15px rgba(255,255,255,0.1);
    border-radius: 15px;
    margin: 30px;
}

.container-pc .card-pc::before{
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0);
}

#edt{
    font-weight: 900;
    padding: 5px;
    justify-content: center;
    align-items: center;
}

.container-pc .card-pc .box-pc{
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background: #059c38;
    border: 2px solid #1e1f23;
    border-radius: 15px;
    box-shadow: 0 20px 50px rgba(0,0,0,0.5);
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container-pc .card-pc .box-pc::before{
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    
    pointer-events: none;
}
/*
.container-pc .card-pc .box-pc:hover{
    /*
    box-shadow: 0 40px 70px #078007;
}
    */


.container-pc .card-pc .box-pc .content-pc{
    padding: 20px;
    text-align: center;
    
}

.container-pc .card-pc .box-pc .content-pc .listas ul li #edt {
    text-decoration: none;
}

#noborder {
    border-bottom: transparent;
}

.container-pc .card-pc .box-pc .content-pc .listas ul li  {
    list-style: none;
    border-bottom: solid black;
    padding: 20px;
}


.container-pc .card-pc .box-pc .content-pc h2{/*SPECS H2*/
    position: relative;
    justify-content: center;
    /*
    top: -25px;
    right: 70px;
    */
    font-size: 1em;
    -webkit-text-stroke-width: 0; /* largura da borda */
    -webkit-text-stroke-color: #000; /* cor da borda */
    text-shadow: 3px 3px 3px rgba(255, 255, 255, 0.192);
    color: rgb(255, 255, 255);
}

.container-pc .card-pc .box-pc .content-pc h3 {
    color: rgb(255, 255, 255);
    /* H3 ESPAÇAMENTO*/
    font-size: 1.5em;
    
    z-index: 1;
    transition: 0.5s;
}
.container-pc .card-pc .box-pc .content-pc p {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 300;
    z-index: 1;
    transition: 0.5s;
}

/*----- LETRA ------*/
.container-pc .card-pc .box-pc .content-pc h4{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    background: rgb(0, 0, 0);
    margin-top: 15px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 400;
    color: rgb(0, 0, 0);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}
.container-pc .card-pc:nth-child(1) .box-pc .content-pc h4{
    background: #2196f3;
    border-style: solid;
    border-color: white;
    border-width: 6px;
    cursor: text;
    font-size: 2em;
    font-weight: bold ;
}
.container-pc .card-pc:nth-child(2) .box-pc .content-pc h4{
    background: #2196f3;
    border-style: solid;
    border-color: white;
    border-width: 6px;
    cursor: text;
    font-size: 2em;
    font-weight: bold ;
}
.container-pc .card-pc:nth-child(3) .box-pc .content-pc h4{
    background: #97dc47;
    border-style: solid;
    border-color: white;
    border-width: 6px;
    cursor: text;
    font-size: 2em;
    font-weight: bold ;
}



/*****  BOTÃO *****/


button:focus {
	outline: none;
}
button:hover {
    background-color: #078007;
    
    
}


p{
    display: inline;
}

/*button Adicionar */

.positionButton{
    max-width: 100%;
    display: flex;
    justify-content: flex-end; 
}


.positionButton button {
    
	border-radius: 20px;
	border: 2px solid black;
	background-color: #059c38;
	color: white;
	font-size: 18px;
	font-weight: bold;
	padding: 10px 10px;
	letter-spacing: 1px;	
    margin-bottom: 10px;
    margin-left: 98pc;
    margin-right: 50px;
	cursor: pointer;
    display: flex;
    text-transform: uppercase;
}

button a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}


a{
    text-decoration: none;
    color: black;
}


    