body {
    background-image: url("../img/arvore.jpg");
    background-repeat: no-repeat;
    background-size: cover;


}

.fazend {
    text-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.548);
    box-shadow: inset 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.548);
    border-radius: 25px;
    font-size: 35px;
    background-color: red;
    padding: 5px;

}


.button-add {
    text-align: right;
    font-size: 25px;
    border-radius: 15px;
}

.btn {
    border-radius: 25px;
    box-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.548);
}

.salvar {
    margin: 15px 0px 15px 0px;
}

span {
    font-size: 15px;
}

.box {
    padding: 30px 0px;
}

.card {
    border-radius: 25px;
    background-color: forestgreen;
}

.card a {
    color: white;
}

.box-part {
    border-radius: 25px;
    margin-top: 30px;
    box-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.548);

}

.favoritar {
    width: 25px;
    height: 25px;
    margin-top: -6px;
    margin-left: 10px;
}

.text {
    margin: 20px 0px;
}

.fa {
    color: #4183d7;
}