@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
#tituloPagInicial{
    display: flex;
    background:rgba(255, 255, 255, 0);    
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0);
    color: white;

    text-align: center;
    justify-content: center;
    align-items: center;
}
h5 {
    display: flex;
    align-items: center;
    justify-content: center;


   

    letter-spacing: 1px;
    font-size: 50px;

    text-align: center;
}
@media only screen and (max-width: 645px) {
    h5{
        max-width: 500px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}


body {
    min-height: 100vh;
    background-image: url(../img/arvore.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    margin: 0 0 0;
}


.navigation {
    position: fixed;
    transition: 0.1s;
    height: 400px;
    width: 60px;
    background: -webkit-linear-gradient(to right, #078007, #059c38);
    background: linear-gradient(to right, #078007, #059c38);
    overflow: hidden;
    padding-top: 30px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    z-index: 1000;
}

.navigation:hover {
    border-right: solid 5px white;
    z-index: 1000;
    width: 250px;
}


.navigation ul:hover {

    background-color: rgba(0, 0, 0, 0.178)
}

#nohover:hover {

    background-color: transparent;
}

#nohover {
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid white;
    border-width: 2px;

}

/*#baixo:hover {


}*/


.navigation ul {
    top: 0;
    left: 0;
    width: 100%;
}

.navigation ul li {
    position: relative;
    width: 100%;
    list-style: none;
}

.navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 14px;

}

.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.navigation ul li a .icon .fa {
    font-size: 24px;
}

.navigation ul li a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

#logo{
top: 10px;
}


.logo{
    display: flex;
    justify-content: center;

}
.text{
    text-align: center;
    color:white;

}
.content{
    z-index: 1;
}
.fundo{
    width: 100%;
    height: 100%;
    background:rgba(0, 0, 0, 0.418);
    position: absolute;
}
