@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
 font-family: 'Poppins', sans-serif;
}

section{
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}
section .card{
  position: relative;
  width: 300px;
  height: 300px;
  background: #141414;
  box-shadow: 0 15px 25px black;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

section .card .content,
section .card .imgText{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section .card .imgText .imgBox{
  position: relative;
  width: 120px;
  height: 120px;
  overflow: hidden;
  border-radius: 60px;
  margin-bottom: 15px;
  border: #078007 solid;
  
}


section .card .imgBox .imgBox img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section .card .imgText h3{
  font-weight: bold;
  font-size: 1.1em;
  line-height: 1.2em;
  text-align: center;
  color: #078007;
  display: inline;
  padding-left: 15px;
}

section .card .imgText h4{
padding-left: 15px;
font-size: 15px;
line-height: 1.2em;
text-align: center;
color: #0770c5;
display: inline;
}

section .card .camera{
position: absolute;
bottom: 120px;

justify-content: center;
align-items: center;

}

section .card .camera a{
  text-decoration: none;
  color: white;
}

.editar a{
  position: absolute;
  color: white;
  left: 250px;
  bottom: 250px;
}

section .card .content button{
  position: absolute;
  top: 265px;
  left: 20px;
  cursor: pointer;
  border: none;
  background: none;
  color: #0fbb1e;
  display:none;
}
section .card .content #cross{
  position: absolute;
  top: 265px;
  left: 255px;
  cursor: pointer;
  border: none;
  background: none;
  color: red;
  display:none;
}
section .card .content button.active{
  display: block;
}
section .card .content #cross.active{
  display: block;
}


/* MENU INTERATIVO */
*{
  font-family: 'Poppins', sans-serif;
}

.action{

  position: absolute;
  top: 30px;
  right: -15px;
}

.action .profile{
  position: relative;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.action .menu{
  position: absolute;
  top: 35px;
  right: 15px;
  padding: 10px 20px;
  background: white;
  width: 200px;
  box-sizing: 0 5px 25px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
}

.action .menu.active{
  visibility: visible;
  opacity: 1;
}

.action .menu::before{
  content: ' ';
  position: absolute;
  top: -5px;
  right: 28px;
  width: 20px;
  height: 20px;
  background: white;
  transform: rotate(45deg);
}

.action .menu ul li{
  list-style: none;
  padding: 5px 0;
  direction: flex;
  align-items: center;
  display: flex;

}
.action .menu ul li i{
  padding: 0 10px;
  transition: 0.5s;
  opacity: 0.5;
  color: black;
  cursor: pointer;
}
.action .menu ul li:hover i{
  opacity: 1;
}

.action .menu ul li:hover p{
  color: green;
}

@keyframes gira {
   to {
      transform: rotate(360deg);
  }
}
#cog.active{
  animation: gira 5s linear infinite;
}


.action .menu ul li i p{
  display: inline-block;
  text-decoration: none;
  color: black;
  font-weight: bold;
  transition: 0.5s;
  padding-left: 5px;
  cursor: pointer;
  text-align: center;
}