body{
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #059c38;
  border-radius: 20px;
  border: 2px solid black;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  cursor: pointer;
  display: flex;
  
  top:170px;
  width: 190px;
}

/* The popup form - hidden by default */
.form-popup {
  position: absolute;
  display: none;
  left: 600px;
  border: none;
  z-index: 1;
}

/* Add styles to the form container */
.form-container {
  height: 540px;
  width: 780px;
  border-radius: 20px;
  background-color: #f1f1f1;
  padding: 10px;
  border: 5px solid black;
  
}
.form-container h1{
  display: flex;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
.fundo, .fundo2{
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 15px;
  
}
/*
.form-container {

  TEM QUE MUDAR ESSA BUCETA HJ AINDA LEMBRA PAU NO CU PARA MATEUS
}
*/
/* Full-width input fields */
.form-container input[type=text], .form-container input[type=text] {
  width: 100%;
  padding: 5px;
  font-size: 20px;
  margin: 4px 0 5px 0;
  border: none;
  border-bottom: 3px solid #059c38;
  background: transparent;
}

@keyframes pisca{
	from { 
				border-color: #8080807e;
	}
				
				
				
	to{
		border-color: #078007;
	}
}
/* When the inputs get focus, do something */

.form-container input[type=text]{
  
}
.form-popup select{
 display: inline;
 border-radius: 20px;
 
}
.form-popup input[class='m2']{
  width: 235px;
}

.form-container input[type=text]:focus, .form-container input[type=text]:focus {
  background-color: transparent;
  outline: none;
  animation: pisca 1s ease infinite;
  
}

/* Set a style for the submit/login button */
.form-container .btn {

  display: flex;
  margin-left: 240px;
  margin-top: 1pc;
  justify-content: center;
  max-width: 250px;
  flex-wrap: wrap;
  background-color: #059c38;
  border-radius: 20px;
  border: 2px solid black;
  color: black;
  font-size: 18px;
  font-weight: bold;
  padding: 12px 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  width: 100%;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

/*-- checckbox *X* --*/

.form-container input[type=checkbox]{
  cursor: pointer;
  display:none;
}
