@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
 font-family: 'Poppins', sans-serif;
}

/* Button used to open the contact form - fixed at the bottom of the page */


/* The popup form - hidden by default */
.form-popup {
  position: absolute;
    display: none;
    border: none;
    z-index: 1;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0, 0.4);
}

/*X check-box*/
.close{
  display: flex;
  justify-content: flex-end;
}

.buttonWid{
  display: flex;
  justify-content: center;
}

/* Add styles to the form container */
.form-container {
  width: 780px;
  border-radius: 20px;
  background-color: #f1f1f1;
  padding: 10px;
  border: 5px solid black;
  
}
.form-container h1{
  display: flex;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
.fundo, .fundo2{
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 15px;
  
}
/*
.form-container {

  TEM QUE MUDAR ESSA BUCETA HJ AINDA LEMBRA PAU NO CU PARA MATEUS
}
*/
/* Full-width input fields */
.form-container input[type=text], .form-container input[type=text] {
  width: 100%;
  padding: 5px;
  font-size: 20px;
  margin: 4px 0 5px 0;
  border: none;
  border-bottom: 3px solid #059c38;
  background: transparent;
}

@keyframes pisca{
	from { 
				border-color: #8080807e;
	}
				
				
				
	to{
		border-color: #078007;
	}
}
/* When the inputs get focus, do something */

.form-container input[type=text]{
  
}
.form-popup select{
 display: inline;
 border-radius: 20px;
 
}
.form-popup input[class='m2']{
  width: 300px;
  padding: 5px;
  font-size: 20px;
  margin: 4px 0 5px 0;
  border: none;
  border-bottom: 3px solid #078007;
  background: transparent;

}

.form-container input[type=text]:focus, .form-container input[type=text]:focus {
  background-color: transparent;
  outline: none;
  animation: pisca 1s ease infinite;
  
}

/* Set a style for the submit/login button */
.form-container .btn {

  display: flex;
  justify-content: center;
  max-width: 250px;
  flex-wrap: wrap;
  background-color: #059c38;
  border-radius: 20px;
  border: 2px solid black;
  color: black;
  font-size: 18px;
  font-weight: bold;
  padding: 12px 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  width: 100%;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

/*-- checckbox *X* --*/

.form-container input[type=checkbox]{
  cursor: pointer;
  display:none;
}







































/* NAO SERVE PRA NADA*/
.modal-container {
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,.5);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2000;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-container.mostrar {
  display: flex;
}

.modal {
  background: white;
  width: 60%;
  min-width: 300px;
  padding: 40px;
  border: 10px solid #988b7a;
  box-shadow: 0 0 0 10px white;
  position: relative;
}

@keyframes modal {
  from {
    opacity: 0;
    transform: translate3d(0, -60px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.mostrar .modal {
  animation: modal .3s;
}

.fechar {
  position: absolute;
  font-size: 1.2em;
  top: -30px;
  right: -30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 4px solid white;
  background: #988b7a;
  color: white;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,.3);
}