@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
 font-family: 'Poppins', sans-serif;
}

/* Button used to open the contact form - fixed at the bottom of the page */


/* The popup form - hidden by default */
.form-popup {
  position: absolute;
    display: none;
    border: none;
    z-index: 2000;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0, 0.4);
}

/*X check-box*/
.close{
  display: flex;
  justify-content: flex-end;
}

.buttonWid{
  display: flex;
  justify-content: center;
}

/* Add styles to the form container */
.form-container {
  width: 780px;
  border-radius: 20px;
  background-color: #f1f1f1;
  padding: 10px;
  border: 5px solid black;
  
}
.form-container h1{
  display: flex;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
.fundo, .fundo2{
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 15px;
  
}
/*

*/
/* Full-width input fields */
.form-container input[type=text], .form-container input[type=text] {
  width: 100%;
  padding: 5px;
  font-size: 20px;
  margin: 4px 0 5px 0;
  border: none;
  border-bottom: 3px solid #059c38;
  background: transparent;
}

@keyframes pisca{
	from { 
				border-color: #8080807e;
	}
				
				
				
	to{
		border-color: #078007;
	}
}
/* When the inputs get focus, do something */

.form-popup select:focus{
  outline: none;
  animation: pisca 1s ease infinite;
}
.form-popup select{
 display: inline;
 width: 75px;
 border-radius: 20px;
 border: #059c38 solid 2px;
 
}
.form-popup input[class='m2']:focus{
  outline: none;
  animation: pisca 1s ease infinite;
}
.form-popup input[class='m2']{
  width: 300px;
  padding: 2px;
  font-size: 20px;
  margin: 4px 0 5px 0;
  border: none;
  border-bottom: 3px solid #059c38;
  background: transparent;


}
.form-popup input[type=time]:focus{
  animation: pisca 1s ease infinite;
  outline: none;
}
.form-popup input[type=time]{
  border: 2px solid #059c38;
  border-radius: 20px;
  width: 75px;
}

.form-container input[type=text]:focus, .form-container input[type=text]:focus {
  background-color: transparent;
  outline: none;
  animation: pisca 1s ease infinite;
  
}

/* Set a style for the submit/login button */
.form-container .btn {

  display: flex;
  justify-content: center;
  max-width: 250px;
  flex-wrap: wrap;
  background-color: #059c38;
  border-radius: 20px;
  border: 2px solid black;
  color: black;
  font-size: 18px;
  font-weight: bold;
  padding: 12px 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  width: 100%;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

/*-- checckbox *X* --*/

.form-container input[type=checkbox]{
  cursor: pointer;
  display:none;
}







































