@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


.galeria{
    margin: 200px auto;
    width: 20px;
    height: 20px;
    padding: 10px;
}

.imagem{
    position: absolute;
    opacity: 0;
    animation-name: animacao;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

@keyframes animacao{
    25%{
        opacity: 1;
        transform: scale(1.1,1.1);
    }
    50%{
        opacity: 0;
    }
}

.imagem:nth-child(1){
    animation-delay: 2s;
}

.imagem:nth-child(2){
    animation-delay: 6s;
}

.imagem:nth-child(3){
    animation-delay: 12s;
}