
.sugestao{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.container .card{
    border-bottom-right-radius: 50%;
    position: relative;
    max-width: 350px;
    height: 300px;
    margin: 60px;
    padding: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0);
    transition: 0.3s ease-in-out;
    flex-direction: column;
    
}

.container .card:hover{
    height:450px;
    background:rgb(255, 255, 255);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.637);
    
}

.container .card .img{
    display: flex;
    position: relative;
    width: 260px;
    height: 260px;
    justify-content: center;
    align-items: center;

    
 
}

.container .card .img img{ 
    display: flex;
    max-width: 100%;
    border-radius: 150px;
    transition: .3s ease-in-out;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.637);
}


.container .card .content{
    position: relative;
    margin-top: -180px;
    text-align: left;
    opacity: 0;
    
}

.container .card:hover img{
    opacity: 1;
    transform: translateY(-200px);
    transition: .3s ease-in-out;
}
.container .card:hover .content{
    opacity: 1;
    transition: 1s ease-in-out;
    
}
