
.sugestao{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.container .card{
    position: relative;
    max-width: 380px;
    height: 300px;
    margin: 50px 10px;
    padding: 20px 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    background:rgba(255, 255, 255, 0.041);
    box-shadow: 0 5px 202px rgba(0,0,0, 0.5);
    transition: 0.3s ease-in-out;
    flex-direction: column;
}

.container .card:hover{
    height:450px;
    background:rgb(255, 255, 255);
    
}

.container .card .img{
    display: flex;
    position: relative;
    width: 260px;
    height: 260px;
    justify-content: center;
    align-items: center;
    bottom:200px;
    
 
}

.container .card .img img{ 
    display: flex;
    max-width: 100%;
    border-radius: 150px;
}


.container .card .content{
    position: relative;
    margin-top: -180px;
    text-align: left;
    opacity: 0;
}

.container .card:hover .content{
    opacity: 1;
    transition: 1s ease-in-out;
}
